/* #uploadForm{
    max-width: 250px ;
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: .25rem;
} */

body {
    background: white;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header i {
    background: #333;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    border-radius: 30px;
}

header i.fa-power-off {
    background: #ff0000;
}

.upload {
    display: flex;
    justify-content: space-between;
}

.file-drop-area {
    box-shadow: 0 0 10px #bdbdbd;
    position: relative;
    width: 380px;
    padding: 20px;
    /* border: 1px dashed rgba(100, 100, 100, 0.4); */
    border-radius: 15px;
    margin: 20px auto 20px;
    background: #333;
    color: #fff;
}

.file-btn {
    flex-shrink: 0;
    background-color: rgba(100, 100, 100, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;

}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;

    &:focus {
        outline: none;
    }
}

.file-name {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .upload-btn {
    background-color: #198754;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 16px;
    padding: 1rem 1.75rem;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    user-select: none;
    display: none;
    margin: 15px auto;
    width: 230px;
}

.clear-btn{
    width: 230px;
    margin: 0 auto;
    display: block;
    color: #FFFFFF;
    font-size: 16px;
    padding: 15px 10px;
    margin-bottom: 15px;
} */
.action-buttons {
    display: none;
    text-align: center;
    width: 100%;
}

.action-buttons .btn {
    padding: 10px 20px;
}

.upload-btn:hover {
    background-color: #005bb6;
}

.gen-down-btn {
    background-color: #0071e2;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 10px;
    justify-content: center;
    padding: .5rem 1rem;
    text-decoration: none;
    width: 100%;
    border: 0;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    user-select: none;
}

.gen-down-btn:hover {
    background-color: #005bb6;
}

a {
    color: #005bb6;
    text-decoration: none;
}

.preview-container {
    display: inline-block;
    width: 100%;
    height: 600px;
    overflow: scroll;
    overflow-x: hidden;
    border: 1px solid #ccc;
    padding: 10px;
}

.preview-container span.title {
    padding: 10px 0;
    display: inline-block;
}

#docContent {
    width: 100%;
    height: 300px;
    /* Adjust the height as needed */
    border: none;
}

#docPreview {
    width: 100%;
    height: 100%;
    border: none;
}

#csvContent {
    padding: 15px;

}

.preview-main {
    display: flex;
}

.file-preview {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 5px;
    align-items: center;
    background: #f5f5f5;
}

.file-preview i {
    cursor: pointer;
    color: #ff0000;
}

#loader {
    display: none;
}

#downloadBtn {
    display: none;
}


.accordion-button {
    background: #ccc;
}

.modal-content {
    border-radius: 1rem;
}

.accordion-body {
    padding: 1rem 0;
}

.accordion-body li {
    padding: 10px 40px;
    border-bottom: 1px solid #ddd;
}

.accordion-body li.unmatched {
    background: url(../images/remove.png);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: left center;
}

.accordion-body li.matched {
    background: url(../images/check.png);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: left center;
}

#loader {
    position: absolute;
}

.spinner-border {
    position: absolute;
    top: 50%;
}

.loading-overlay {
    display: none;
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9998;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

#exampleModal .modal-content{
    min-height: 600px;
}
#exampleModal .btn-close {
    z-index: 99999;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
}